name: CI

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build-and-test-macos:
    runs-on: macos-latest
    steps:
      - uses: actions/checkout@v4
      - name: Set up Swift
        uses: swift-actions/setup-swift@v2
        with:
          swift-version: '5.10'
      - name: Build
        run: swift build -v
      - name: Test
        run: swift test -v --enable-code-coverage
      - name: Upload raw coverage directory
        uses: actions/upload-artifact@v4
        with:
          name: coverage-macos
          path: .build/debug/codecov

  build-and-test-windows:
    runs-on: windows-latest
    steps:
      - uses: actions/checkout@v4
      - name: Install Swift
        uses: compnerd/gha-setup-swift@main
        with:
          source: swift.org
          swift-version: swift-5.10-release
          swift-build: 5.10-RELEASE
      - name: Build
        shell: pwsh
        run: swift build -v
      - name: Test
        shell: pwsh
        run: swift test -v
